%section.content-wrapper
  %section.content-header
    %h1 Nuevo Paquete
  %section.content
    .row
      .col-md-10.col-md-offset-1
        .box.box-primary
          .box-header.with-border
            %h3.box-title Nueva
          .box-body
            = form_for [@bundle], url: {action: "create"}, html:{role: "form"} do |f|
              .input-field
                .row
                  .col-md-8
                    = f.text_field :name, {autofocus: true, class: "validate", id: "bundleName"}
                    %label{for: "bundleName"} Nombre
                  .col-md-4.text-center
                    %button.waves-effect.btn.deep-orange.darken-2{style: "margin-top: 10px;"} guardar
              .text-center.clearfix
                .col-md-6
                  %strong Imagen
                  .picturePreview#target
                  = f.file_field :img, class: "inputFile", id: "pictureInput"
                  %label{for: 'pictureInput'}
                    %span Selecione una imagen
                .col-md-6
                  %strong Imagen Hover
                  .picturePreview#targetHover
                  = f.file_field :imghover, class: "inputFile", id: "pictureInputHover"
                  %label{for: 'pictureInputHover'}
                    %span Selecione una imagen
              .input-field.clearfix
                - a = ''
                = f.collection_check_boxes(:service_ids, Service.all, :id, :name) do |b|
                  - if b.object.category.name != a
                    - a = b.object.category.name
                    .row
                      .col-md-12
                        %h6= b.object.category.name
                  %li.list.clearfix
                    = b.check_box
                    = b.label
              .box-footer{style: "margin-top: 20px;"}