%section.content-wrapper
  %section.content
    .row
      .col-md-12
        .box.box-primary
          .box-header.with-border
            %h3.box-title Nueva
          .box-body
            = form_for [@page], url: {action: "update"}, html:{role: "form"} do |f|
              .col-md-9
                .input-field
                  = f.text_field :url, autofocus: false, class: "validate", id: "pageUrl", placeholder: "Url", value: ""
                .input-field
                  = f.text_field :title, autofocus: true, class: "validate", id: "pageTitle"
                  %label{for: "pageTitle"} Titulo
                .input-field
                  = f.text_field :subtitle, class: "validate", id: "Fsubtitle"
                  %label{for: "Fsubtitle"} sub-titulo
                .input-field
                  = f.cktext_area :content, :id => 'sometext'
              .col-md-3
                .input-field
                  %button.waves-effect.btn-block.btn-large.deep-orange.darken-2 Actualizar
                .imput-field{style: "margin-top: 50px;"}
                  %strong Visible
                  .switch
                    %label
                      No
                      = f.check_box( :visibility, {checked: 'checked',}, 'true', 'false')
                      %span.lever
                      Si
                .imput-field
                  %strong Selecione un servicio o un paquete
                  %form
                    %p
                      %input{type: "radio", id: "selectService", name: "group1"}
                      %label{for: "selectService"} Servicios
                      %input{:type => "radio", :name => "group1", :id => "selectBundle" }
                      %label{for: "selectBundle"} Paquetes
                .imput-field
                  = f.collection_select(:service_id, Service.all, :id, :name, {:include_blank => 'Selecione un servicio'}, class: "collection_select", id: "selectedService")
                .imput-field
                  = f.collection_select(:bundle_id, Bundle.all, :id, :name, {:include_blank => 'Selecione un paquete'}, class: "collection_select", id: "selectedBundle")
                .imput-field{style:"margin-top: 30px;"}
                  %strong Selecione un Formulario
                  = f.collection_select(:form_build_id, FormBuild.all, :id, :name, {:include_blank => 'Selecione un formulario'}, class: "collection_select", style:"display:block;")