%section.content-wrapper
  %section.content-header
  %section.content
    .row
      .col-md-12
        .box.box-primary
          .box-header.with-border
            %h5 Nuevo Administrador
          .box-body
            = form_for [@admin], builder: CustomFormBuilder, url: {action: "create"}, html:{role: "form"} do |f|
              .col-md-9
                .input-field
                  = f.email_field :email, autofocus: true, class: "validate", id: "fEmail"
                  %label{for: "fEmail"} Email
                  = f.field_error :email
                .input-field
                  = f.text_field :name, class: "validate", id: "fNmame"
                  %label{for: "fNmame"} Nombre
                .input-field
                  = f.text_field :last_name, class: "validate", id: "fLastName"
                  %label{for: "fLastName"} Apellido
                .input-field
                  = f.text_field :phone, class: "validate", id: "fphone"
                  %label{for: "fphone"} Telefono
                .input-field
                  = f.text_field :country, class: "validate", id: "fcountry"
                  %label{for: "fcountry"} Pais
                .input-field
                  = f.text_field :city, class: "validate", id: "fcity"
                  %label{for: "fcity"} Ciudad
                .input-field
                  = f.password_field :password, class: "validate", id: "fpassword"
                  %label{for: "fpassword"} Contraseña
                .input-field
                  = f.password_field :password_confirmation, class: "validate", id: "fpasswordC"
                  %label{for: "fpasswordC"} Contraseña
              .col-md-3
                .input-field
                  %button.waves-effect.btn-block.btn-large.deep-orange.darken-2 Crear
                .imput-field{style: "margin-top: 50px;"}
                .input-field
                  = f.collection_select(:role_id, Role.all, :id, :name, {:include_blank => 'Selecione un role'}, class: "collection_select", style: "display: block;")
                .input-field
                  %form
                    %p
                      = f.radio_button(:gender, "M", id: "fMasculino")
                      %label{for: "fMasculino"} Masculino
                      = f.radio_button(:gender, "F", id: "fFemenino")
                      %label{for: "fFemenino"} Femenino
